body{
    margin: 0;
}

*{
    box-sizing: border-box;
}

.toolbar{
    display: flex;
    gap: 10px;
    padding: 20px 6% 17px;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    color: #555;
    border-bottom: 0.5px #ccc solid;
    position: fixed;
    width: 100%;
    background-color: #fff;
}
.toolbar p{
    margin: 0;
}

.list{
    padding: 90px 6%;
}

.tabs{
    position: fixed;
    bottom: 0;
    background-color: #fff;
    border-top: solid 1px #ddd;
    width: 100%;
    display: flex;
    padding: 18px 0 25px;
    justify-content: space-evenly;
}

.tabs a{
    text-decoration: none;
    text-align: center;
}

.tabs i{
    color: #888;
    font-size: 22px;
}

.tabs p{
    color: #bbb;
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 12px;
}

.tabs .active{
    color: #4387ed;
}

.tabs .active i{
    color: #4387ed;
}

.tabs .active p{
    color: #86aeea;
}

.order{
    position: fixed;
    background-color: #000000aa;
    width: 100%;
    height: 100vh;
}

.order .box{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 25px 6% 40px;
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.order .box p{
    margin: 0;
}

.order .box .menu{
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    color: #555;
}

.order .box .btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.order .box .subtitle{
    font-size: 20px;
    font-weight: 600;
}

.order .box .info{
    margin-top: 5px;
    font-size: 16px;
    color: #777;
}

.order .box .itemList{
    display: flex;
    align-items: center;
    gap: 10px;
}

.order .box .itemList p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #555;
    font-size: 18px;
}

.order .box input{
    width: 100%;
    outline: none;
    padding: 12px;
    font-size: 18px;
    border: none;
    background-color: #e5e9ec;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.order .box .itemList .plus button{
    border: none;
    font-size: 18px;
    width: 50%;
    padding: 13px;
    color: #555;
}

.order .box .itemList .plus button:nth-child(1){
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.order .box .itemList .plus button:nth-child(2){
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #4387ed;
    color: #fff;
}

.order .box .btn p{
    text-align: center;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    font-weight: 700;
}

.order .box .btn .close{
    background-color: #d0dbe3;
}

.order .box .btn .apply{
    color: #fff;
    background-color: #4387ed;
}

.order .box .title{
    font-size: 20px;
    margin: 0;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding-bottom: 150px;
}

.item{
    display: flex;
    flex-direction: column;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    border-radius: 15px;
}

.item img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.item .info{
    width: 100%;
    padding: 25px;
}

.item .info p{
    margin: 0;
}

.item .info .subtitle{
    color: #555;
    margin: 0px 0px 4px;
    padding: 0px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.item .info .title{
    color: #444;
    margin: 0px;
    padding: 0px;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}

.item .info .content{
    margin-top: 7px;
    font-size: 17px;
    color: #777;
}

.item .info button{
    width: 100%;
    border: none;
    padding: 13px;
    font-size: 16px;
    background-color: #4387ed;
    color: #fff;
    border-radius: 12px;
    margin-top: 25px;
}

.bottom-btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255) 30%);
    padding: 25px 6% 40px;
}

.bottom-btn a{
    display: block;
    background-color: #4387ed;
    border-radius: 12px;
    padding: 13px;
    text-decoration: none;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}